* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.container {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

.main {
  flex-basis: 65%;
  padding: 60px;
  color: #666;
}

.lead {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.lead__info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.lead__title {
  margin-bottom: 5px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(225deg, #4451a3 25%, #00b1e7 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lead__name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.lead__heading {
  font-size: 18px;
  font-weight: 400;
}

.contacts {
  list-style: none;
}

.contact__item {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact__item-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
  filter: brightness(10);
}

.contacts__item-link {
  color: inherit;
  text-decoration: none;
}

.contacts__item-link:hover {
  text-decoration: underline;
}

.lead__pic {
  width: 300px;
  max-width: 150px;
  border-radius: 999px;
}

.resume__section {
  margin-bottom: 5rem;
}

.resume__section:last-child {
  margin-bottom: 0;
}

.resume__section-title {
  margin-bottom: 20px;
  background: -webkit-linear-gradient(225deg, #4450a2 60%, #00b1e7 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.resume__list {
  list-style: none;
}

.resume__item {
  display: flex;
  margin-bottom: 40px;
}

.resume__year {
  flex-basis: 10%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.7;
}

.resume__icon {
  display: inline-block;
  flex-basis: 5%;
  width: 25px;
  height: 25px;
  background-image: url('img/dot-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.resume__text {
  flex-basis: 85%;
}

.resume__text-title {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 700;
}

.resume__text-info {
  line-height: 1.5;
}

.diploma-link {
  display: inline-block;
  margin-top: 5px;
  color: inherit;
}

.diploma-link:hover {
  background: -webkit-linear-gradient(225deg, #4451a3 60%, #00b1e7 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume__item.resume__item--projects {
  justify-content: flex-end;
}

.resume__project-link {
  color: inherit;
}

.resume__project-link:hover {
  background: -webkit-linear-gradient(225deg, #4451a3 60%, #00b1e7 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects .resume__item {
  justify-content: flex-start;
}

.aside {
  flex-basis: 35%;
  padding: 60px;
  color: #fff;
  background: linear-gradient(225deg, #4451a3 25%, #00b1e7 79%);
}

.aside__section {
  margin-bottom: 50px;
}

.aside__title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.aside__text {
  font-size: 16px;
  line-height: 2;
}

.aside__item {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100%;
  }

  .main {
    padding: 10px;
  }

  .lead {
    display: block;
    text-align: center;
  }

  .lead__info {
    flex-direction: column;
    margin: 20px 0 40px 0;
  }

  .lead__name {
    text-align: left;
    margin-left: 0;
  }

  .lead__pic {
    max-width: 30%;
    margin-bottom: 10px;
  }

  .lead__title {
    font-size: 25px;
  }

  .resume__section-title {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .resume__item {
    margin-bottom: 30px;
  }

  .resume__year {
    margin-right: 15px;
  }

  .resume__icon {
    display: none;
  }

  .resume__item.resume__item--projects {
    display: block;
  }

  .aside {
    padding: 30px 20px;
  }

  .aside__section {
    margin-bottom: 30px;
  }

  .aside__section:last-child {
    margin-bottom: 0;
  }

  .aside__list {
    margin-left: 20px;
  }

  .aside__item:last-child {
    margin-bottom: 0;
  }
}
